
<h1>Record your journey and travel time!</h1>

<%= form_for(@journey) do |f| %>
  <%= f.label :origin %>
  <%= f.text_field :origin %>

  <%= f.label :destination %>
  <%= f.text_field :destination %>

  <%= f.label :hours %>
  <%= f.text_field :hours %>

  <%= f.label :minutes %>
  <%= f.text_field :minutes %>

  <%= f.submit 'Submit' %>
<% end %>


 <br /><br />

 <br /><br />
<%= link_to "All Journeys", journeys_path %>
