<head>
<style>
body {
    background-color: #E6E6E6;
}
</style>
<img src="https://i.amz.mshcdn.com/iVnKXM4yEGwfKPBnFq__B3-6dS8=/950x534/filters:quality(90)/2015%2F11%2F03%2F6c%2FGoogleHeade.8b25c.jpg" style="width:950px;height:534px;">
    <title>BreakableMaps</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="ihsjDdD9Qo1/CaA8bAfm+xmOCvUOb5wuLXLJnbGkEdbcwDaG0LW6rVdC5CLTcZrQefMLFxcjIoOQjyfZ/1OkhQ==">

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css">
    <script src="/assets/application-617923881fa156ead96c60032e93c83a7090851e05ca699bc65cac70c528a995.js"></script>
  </head>

<h1>Record your journey and travel time!</h1>

<%= form_for(@journey) do |f| %>
  <%= f.label :origin %>
  <%= f.text_field :origin %>

  <%= f.label :destination %>
  <%= f.text_field :destination %>

  <%= f.label :hours %>
  <%= f.text_field :hours %>

  <%= f.label :minutes %>
  <%= f.text_field :minutes %>

  <%= f.submit 'Submit' %>
<% end %>


 <br /><br />

 <br /><br />
<%= link_to "All Journeys", journeys_path %>
