<%= link_to "Record Another Journey", new_journey_path %>


<%= link_to "See All Journeys", journeys_path %>


<p>Origin: <%= @journey.origin %></p>
<p>Destination: <%= @journey.destination %></p>
<p>Travel time: <%= @journey.travel_time %></p>
